<html>
    <%- include('../../partials/header.ejs') %>

<body>
    <%- include('../../partials/nav.ejs') %>

<div class="404 error content">
    <h2>oops!! an error occured :(</h2>
</div>
<%- include('../../partials/footer.ejs') %>

</body>


</html> 