<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP FORM</title>
</head>
<body>
        <form action="/signup" method="post">
            <div class="container">
            <h1>SIGN UP</H1>
                <div class="inside">
        <label style="font-family:Arial, Helvetica, sans-serif;font-size: 15px;">username</label>
       <input type="text" name="username"> 
       <label style="font-family:Arial, Helvetica, sans-serif;font-size: 15px;">password</label>
       <input type="password" name="password">
       <button type="submit">SignUp</button>
    </div>
    </div>
       <div class="container" style="background-color:#f1f1f1;margin-top: 10px;">
       <a href="/blogs"><button type="button" class="cancelbtn">Cancel</button></a>
       <a href="/login"><button type="button" class="loginbtn">Already Have An Account</button></a>
    </div>
    </form>
</body>
</html>

<style>
  form {
  border: 3px solid #f1f1f1;
  border-radius: 5px;
margin:5% 30% 0% 30% ;
}
h1{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
;
;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 6px ;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

  }
  button {
    background-color: #f8af5b;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
text-align: center;
cursor: pointer;

transition: transform .5s;
}
button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #757474;
}
.loginbtn{
  width: auto;
  padding: 10px 18px;
  background-color: #5cccccd2;
  float: right;
}
.container {
  padding: 16px;
}
.inside{
    padding-top: 10px;
    margin: 0px 50px 0px 50px;
}
</style>