
h1{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    

    body > div > h2{
    margin-left: 150px;
    margin-right: 150px;
    font-style: italic;
    font-weight: 600;
    margin-top: 1%;
    font-size: xx-large;
}
p{
    margin-top: 6%;
    margin-left: 20px;
    margin-right: 50px;
    font-size: 20;
    font-family: Times;
;

}
.news {

    border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
margin-left: 5%;
margin-right: 5%; 
margin-top:5%;
}

input[type=submit]:hover {
transform: scale(1.05);
background-color: #f3805d;
}

input[type=submit] {
width: 12%;

background-color: rgb(94, 92, 89);
color: white;
padding: 14px 20px;
margin: 8px ;
border: none;
border-radius: 4px;
cursor: pointer;
transition: transform .5s; 
}